target/

.idea/
.project
.classpath
.settings/
*.iml

application.properties
/PRIVATE-README.md

/src/main/frontend/generated/
/src/main/frontend/index.html
/src/main/bundles/
node_modules/
/package.json
/package-lock.json
/tsconfig.json
/types.d.ts
